<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd"> 
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
<title>Acquisition Delivery</title>
<link th:substituteby="includes :: htmlhead" />
</head>
	<span th:substituteby="includes :: navbar" />
	<h1>Acquisition Delivery Report</h1>

	<table id="acquistion" class="table table-striped tablesorter">
		<thead>
			<tr>
				<th>DateRange</th>
				<th>Title</th>
				<th>MaterialID</th>
				<th>Channels</th>
				<th>AggregatorID</th>
				<th>TapeDelivery</th>
				<th>FileDelivery</th>
				<th>FileSize</th>
				<th>Format</th>
				<th>TitleLength</th>
				</tr>
		</thead>
		<tbody>
			<tr th:each="material: ${materials}">
				<td th:text="${material.dateRange}"></td>
				<td th:text="${material.title}"></td>
				<td th:text="${material.materialID}"></td>
				<td th:text="${material.channels}"></td>
				<td th:text="${material.aggregatorID}"></td>
				<td th:text="${material.tapeDelivery}"></td>
				<td th:text="${material.fileDelivery}"></td>
				<td th:text="${material.filesize}"></td>
				<td th:text="${material.format}"></td>
				<td th:text="${material.titleLength}"></td>
			</tr>
		</tbody>
	</table>
<body>

</body>
</html>