<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd"> 
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
<title>Auto QC</title>
<link th:substituteby="includes :: htmlhead" />
</head>

<body>
	<span th:substituteby="includes :: navbar" />
	<h1>Auto QC Report</h1>
	
	<table id="qcTable" class="table table-striped tablesorter">
		<thead>
			<tr>
				<th>DateRange</th>
				<th>Title</th>
				<th>MaterialID</th>
				<th>Channels</th>
				<th>ContentType</th>
				<th>Operator</th>
				<th>TaskStatus</th>
				<th>QcStatus</th>
				<th>TaskStart</th>
				<th>TaskFinish</th>
				<th>WarningTime</th>
				<th>ManualOverride</th>
				<th>FailureParameter</th>
				<th>TitleLength</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="qc: ${qcs}">
				<td th:text="${qc.dateRange}"></td>
				<td th:text="${qc.title}"></td>
				<td th:text="${qc.materialID}"></td>
				<td th:text="${qc.channels}"></td>
				<td th:text="${qc.contentType}"></td>
				<td th:text="${qc.operator}"></td>
				<td th:text="${qc.qcStatus}"></td>
				<td th:text="${qc.taskStart}"></td>
				<td th:text="${qc.taskFinish}"></td>
				<td th:text="${qc.warningTime}"></td>
				<td th:text="${qc.manualOverride}"></td>
				<td th:text="${qc.failurePrameter}"></td>
				<td th:text="${qc.titleLength}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>