<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd"> 
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
<title>File Tape Ingest</title>
<link th:substituteby="includes :: htmlhead" />
</head>

<body>
<span th:substituteby="includes :: navbar" />
	<h1>Compliance Edit Report</h1>

	<table id="complianceTable" class="table table-striped tablesorter">
		<thead>
			<tr>
				<th>DateRange</th>
				<th>Title</th>
				<th>MaterialID</th>
				<th>Channels</th>
				<th>TaskStatus</th>
				<th>TaskStart</th>
				<th>TaskFinish</th>
				<th>ExternalCompliance</th>
			</tr>
		</thead>
		<tbody>	
			<tr th:each="comp: ${compliance}">
				<td th:text="${comp.dateRange}"></td>
				<td th:text="${comp.title}"></td>
				<td th:text="${comp.channels}"></td>
				<td th:text="${comp.taskStatus}"></td>
				<td th:text="${comp.taskStart}"></td>
				<td th:text="${comp.taskFinish}"></td>
				<td th:text="${comp.externalCompliance}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>
