<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd"> 
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
<title>Export</title>
<link th:substituteby="includes :: htmlhead" />
</head>

<body>
	<span th:substituteby="includes :: navbar" />
		<h1>Extended File And Publishing Export Report</h1>
	
		<table id="exportTable" class="table table-striped tablesorter">
			<thead>
				<tr>
					<th>DateRange</th>
					<th>Title</th>
					<th>MaterialID</th>
					<th>Channels</th>
					<th>TaskStatus</th>
					<th>ExportType</th>
					<th>TitleLength</th>
				</tr>
			</thead>
			<tbody>
			<tr th:each="export: ${exports}">
				<td th:text="${export.dateRange}"></td>
				<td th:text="${export.title}"></td>
				<td th:text="${export.materialID}"></td>
				<td th:text="${export.channels}"></td>
				<td th:text="${export.taskStatus}"></td>
				<td th:text="${export.exportType}"></td>
				<td th:text="${export.titleLength}"></td>
			</tr>
		</tbody>
	</table>
</body>	
</html>