<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd"> 
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
<title>File Tape Ingest</title>
<link th:substituteby="includes :: htmlhead" />
</head>
<span th:substituteby="includes :: navbar" />
	<h1>File Tape Ingest Report</h1>

	<h4>Completed ingests</h4>
	<table id="completedIngestsTable" class="table table-striped tablesorter">
		<thead>
			<tr>
				<th>ID</th>
				<th>Time</th>
				<th>Namespace</th>
				<th>EventName</th>
				<th>Payload</th>
				<th>Format</th>
				</tr>
		</thead>
		<tbody>
		
			<tr th:each="event: ${completed}">
				<td th:text="${event.id}">id</td>
				<td th:text="${event.time}">time</td>
				<td th:text="${event.namespace}">namespaceEx</td>
				<td th:text="${event.eventName}">eventNameEx</td>
				<td th:text="${event.payload}">payloadEx</td>
			</tr>
			<tr th:each="format: ${completedFormats}">
				<td th:text="${format}">format</td>
			</tr>
		</tbody>
	</table>

	<h4>Failed Ingests</h4>
	<table id="failedIngestsTable" class="table table-striped tablesorter">
		<thead>
			<tr>
				<th>ID</th>
				<th>Time</th>
				<th>Namespace</th>
				<th>EventName</th>
				<th>Payload</th>
				</tr>
		</thead>
		<tbody>
			<tr th:each="event: ${failed}">
					<td th:text="${event.id}">id</td>
					<td th:text="${event.time}">time</td>
					<td th:text="${event.namespace}">namespaceEx</td>
					<td th:text="${event.eventName}">eventNameEx</td>
					<td th:text="${event.payload}">payloadEx</td>
				</tr>
		</tbody>
	</table>

	<h4>Unmatched content</h4>
	<table id="unmatchedContentTable" class="table table-striped tablesorter">
		<thead>
			<tr>
				<th>ID</th>
				<th>Time</th>
				<th>Namespace</th>
				<th>EventName</th>
				<th>Payload</th>
				</tr>
		</thead>
		<tbody>
			<tr th:each="event: ${unmatched}">
					<td th:text="${event.id}">id</td>
					<td th:text="${event.time}">time</td>
					<td th:text="${event.namespace}">namespaceEx</td>
					<td th:text="${event.eventName}">eventNameEx</td>
					<td th:text="${event.payload}">payloadEx</td>
				</tr>
		</tbody>
	</table>

<body>

</body>
</html>