<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd"> 
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
<title>Order Status</title>
<link th:substituteby="includes :: htmlhead" />
</head>

<body>
	<span th:substituteby="includes :: navbar" />
	<h1>Order Status Report</h1>

	<h4>List of Titles Delivered</h4>
	<table id="deliveredTable" class="table table-striped tablesorter">
		<thead>
			<tr>
				<th>DateRange</th>
				<th>Title</th>
				<th>MaterialID</th>
				<th>Channels</th>
				<th>OrderRef</th>
				<th>RequiredBy</th>
				<th>CompletedInDateRange</th>
				<th>OverdueInDateRange</th>
				<th>AggregatorID</th>
				<th>TaskType</th>
				<th>CompletionDate</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="order: ${orders}">
					<td th:text="${order.dateRange}"></td>
					<td th:text="${order.title}"></td>
					<td th:text="${order.materialID}"></td>
					<td th:text="${order.channels}"></td>
					<td th:text="${order.orderRef}"></td>
					<td th:text="${order.requiredBy}"></td>
					<td th:text="${order.completedInDateRange}"></td>
					<td th:text="${order.overdueInDateRange}"></td>
					<td th:text="${order.aggregatorID}"></td>
					<td th:text="${order.taskType}"></td>
					<td th:text="${order.completionDate}"></td>
				</tr>
		</tbody>
	</table>
</body>

</html>