<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
<title>Report</title>
<link th:substituteby="includes :: htmlhead" />
<link href="css/jquery-ui.css" th:href="@{/css/jquery-ui.css}" rel="stylesheet" type="text/css"/>
  <script src="js/jquery-1.6.2.min.js" th:src="@{/js/jquery-1.6.2.min.js}"></script>
  <script src="js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
  <script src="js/jquery-1.9.1.min.js" th:src="@{/js/jquery-1.9.1.min.js}"></script>
  
  <script src="js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
  <script src="jquery-ui.js" th:src="@{/js/jquery-ui.js}"></script>
  
  <script>
  $(document).ready(function() {
    $(".datepicker").datepicker({ dateFormat: "dd-mm-yy" });
  });
  </script>
</head>

<body>
	<img id="foxtelLogo" src="../../img/foxtelLogoTrans.png" width="173" height="33" align="right" style="opacity:0.6"/>

	<div>
		
 	<form class="form-search" method="POST" th:action="@{/rest/query/choose_report}">
 		<table id="reportFormTbl" class="table table-striped tablesorter">
 			<tbody>
 				<tr><td><label>Start Date: </label></td> <td><input class="datepicker" name="start" /></td><td></td></tr>
				<tr><td><label>End Date: </label></td> <td><input class="datepicker" name="end"/></td><td></td></tr>
				<tr>
					<td><label>Report Name: </label></td> <td><input name="name" type="text" /></td><td></td>
				</tr>				
			
				<tr>				
					<td>
						<select name="rpt">
							<option value="OrderStatus">Order Status</option>
							<option value="AcquisitionDelivery">Acquisition Delivery</option>
							<option value="ManualQA">Manual QA</option>
							<option value="AutoQC">Auto QC</option>
							<option value="PurgeContent">Purge Content</option>
							<option value="ComplianceEdits">Compliance Edits</option>
							<option value="Export">Extended Publishing and File Export</option>
							<option value="Watchfolder">Watch Folder Storage</option>
						</select>
					</td>
				
					<td><button class="btn-primary" id="rptBtn" type="submit">Generate Report</button></td>
				</tr>
 			</tbody>
 		</table>
 	</form>
 	
	</div>	
</body>

</html>
