<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
<title>Report</title>
<link th:substituteby="includes :: htmlhead" />
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  
  <script>
  $(document).ready(function() {
    $(".datepicker").datepicker({ dateFormat: "dd-mm-yy" });
  });
  </script>
</head>

<body>
	<img id="foxtelLogo" src="../../img/foxtelLogoTrans.png" width="173" height="33" align="right" style="opacity:0.6"/>

	<div>
		
 	<form class="form-search" method="POST" th:action="@{/rest/query/choose_report}">
 		<table id="reportFormTbl" class="table table-striped tablesorter">
 			<tbody>
 				<tr><td><label>StartDate: </label></td> <td><input class="datepicker" name="start" type="date"/></td><td></td></tr>
				<tr><td><label>EndDate: </label></td> <td><input class="datepicker" name="end" type="date" /></td><td></td></tr>
				<tr>
					<td><label>ReportName: </label></td> <td><input name="name" type="text" class="input-small search-query" value="REPORT_NAME"/></td><td></td>
				</tr>				
			
				<tr>				
					<td>
						<select name="rpt">
							<option value="OrderStatus">Order Status</option>
							<option value="AcquisitionDelivery">Acquisition Delivery</option>
							<option value="ManualQA">Manual QA</option>
							<option value="AutoQC">Auto QC</option>
							<option value="PurgeContent">Purge Content</option>
							<option value="ComplianceEdits">Compliance Edits</option>
							<option value="Export">Extended Publishing and File Export</option>
							<option value="Watchfolder">Watch Folder Storage</option>
						</select>
					</td>
				
					<td><button class="btn-primary" id="rptBtn" type="submit">GenerateReport</button></td>
				</tr>
 			</tbody>
 		</table>
 	</form>
 	
 	<!-- <table id="inputTable" class="table table-striped tablesorter">
			<tbody> 
				<tr>
					<form class="form-search" method="GET" th:action="@{/rest/query/start_date/date/month/year}">
						<td><label>Start Date: </label></td>
						<td>
							<select name="date" id="startDate">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
						<option>9</option>
						<option>10</option>
						<option>11</option>
						<option>12</option>
						<option>13</option>
						<option>14</option>
						<option>15</option>
						<option>16</option>
						<option>17</option>
						<option>18</option>
						<option>19</option>
						<option>20</option>
						<option>21</option>
						<option>22</option>
						<option>23</option>
						<option>24</option>
						<option>25</option>
						<option>26</option>
						<option>27</option>
						<option>28</option>
						<option>29</option>
						<option>30</option>
						<option>31</option>
					</select>
				</td>
				<td>
					<select name="month" id="startMonth">
						<option value="0">January</option>
						<option value="1">February</option>
						<option value="2">March</option>
						<option value="3">April</option>
						<option value="4">May</option>
						<option value="5">June</option>
						<option value="6">July</option>
						<option value="7">August</option>
						<option value="8">September</option>
						<option value="9">October</option>
						<option value="10">November</option>
						<option value="11">December</option>
					</select>
				</td>
				<td><input name="year" id="startYear" type="text" class="input-small search-query" placeholder="year"/></td>
				<td><button class="btn-primary" id="saveStartDateBtn" type="submit">Save Start Date</button></td>
			</form>
		</tr>
				
		<tr>
			<form class="form-search" method="GET" th:action="@{/rest/query/end_date/date/month/year}">
				<td><label>End Date: </label></td>
				<td>
					<select name="date">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
						<option>9</option>
						<option>10</option>
						<option>11</option>
						<option>12</option>
						<option>13</option>
						<option>14</option>
						<option>15</option>
						<option>16</option>
						<option>17</option>
						<option>18</option>
						<option>19</option>
						<option>20</option>
						<option>21</option>
						<option>22</option>
						<option>23</option>
						<option>24</option>
						<option>25</option>
						<option>26</option>
						<option>27</option>
						<option>28</option>
						<option>29</option>
						<option>30</option>
						<option>31</option>
					</select>
				</td>
				<td>
					<select name="month">
						<option value="0">January</option>
						<option value="1">February</option>
						<option value="2">March</option>
						<option value="3">April</option>
						<option value="4">May</option>
						<option value="5">June</option>
						<option value="6">July</option>
						<option value="7">August</option>
						<option value="8">September</option>
						<option value="9">October</option>
						<option value="10">November</option>
						<option value="11">December</option>
					</select>
				</td>
				<td><input name="year" type="text" class="input-small search-query" placeholder="year"/></td>
				<td><button class="btn-primary" id="saveStartDateBtn" type="submit">Save End Date</button></td>
			</form>
		</tr>
		
		<tr>
			<form class="form-search" method="GET" th:action="@{/rest/query/report_name/name}">
				<td><label>Report Name: </label></td>
				<td><input name="name" type="text" class="input-small search-query" /></td>
				<td><button class="btn-primary" id="saveNameBtn" type="submit">Save Name</button></td>
 			</form>
 		</tr>
 	</tbody>
 	</table>
 	
 		
 	<table id="reportTable" class="table table-striped tablesorter">
 	<tbody>	
 		<tr>
			<form class="form-search" method="GET" th:action="@{/rest/query/choose_report/rpt}">
				<td><label>1. Order Status: </label></td>
				<td><button class="btn-primary" id="rpt1Btn" type="submit" name="rpt" value="OrderStatusCSV">CSV</button></td>
			
				<td><button class="btn-primary" id="rpt1UI" type="submit" name="OrderStatusUI">On Screen</button></td>
			</form>
			
			<form class="form-search" method="GET" th:action="@{/rest/query/purge_content_csv}">
				<td><label>16. Purge Content: </label></td>
				<td><button class="btn-primary" id="rpt10bBtn" type="submit">CSV</button></td>
			</form>
			<form class="form-search" method="GET" th:action="@{/rest/query/purge_content_ui}">
				<td><button class="btn-primary" id="rpt16UI" type="submit">On Screen</button></td>
			</form>
		</tr>

		<tr>
			<form class="form-search" method="GET" th:action="@{/rest/query/acquisition_report_csv}">
				<td><label>2. Acquisition Delivery Report: </label></td>
				<td><button class="btn-primary" id="rpt2bBtn" type="submit">CSV</button></td>
			</form>
			<form class="form-search" method="GET" th:action="@{rest/query/acquisition_report_ui}">
				<td><button class="btn-primary" id="rpt2UI" type="submit">On Screen</button></td>
			</form>
			
			<form class="form-search" method="GET" th:action="@{/rest/query/compliance_edit_csv}">
				<td><label>20. Compliance Edits: </label></td>
				<td><button class="btn-primary" id="rpt20bBtn" type="submit">CSV</button></td>
			</form>
			<form class="form-search">
				<td><button class="btn-primary" id="rpt2UI" type="submit">NULL</button></td>
			</form>
		</tr>

		<tr>
			<form class="form-search" method="GET" th:action="@{/rest/query/manual_qa_csv}">
				<td><label>10a. Manual QA: </label></td>
				<td><button class="btn-primary" id="rpt5Btn" type="submit">CSV</button></td>
			</form>
			<form class="form-search">
				<td><button class="btn-primary" id="rpt2UI" type="submit">NULL</button></td>
			</form>
			
			<form class="form-search" method="GET" th:action="@{/rest/query/export_csv}">
				<td><label>21. Extended Publishing and File Export: </label></td>
				<td><button class="btn-primary" id="rpt21Btn" type="submit">CSV</button></td>
			</form>			
			<form class="form-search" method="GET" th:action="@{/rest/query/export_ui}">
				<td><button class="btn-primary" id="rpt2UI" type="submit">NULL</button></td>
			</form>
		</tr>

		<tr>
			<form class="form-search" method="GET" th:action="@{/rest/query/auto_qc_csv}">
				<td><label>10b. Auto QC: </label></td>
				<td><button class="btn-primary" id="rpt10bBtn" type="submit">CSV</button></td>
			</form>	
			<form class="form-search" method="GET" th:action="@{/rest/query/auto_qc_ui}">
				<td><button class="btn-primary" id="rpt2UI" type="submit">On Screen</button></td>
			</form>
			
			<form class="form-search" method="GET" th:action="@{/rest/query/watch_folder_storage_csv}">
				<td><label>24. Watch Folder Storage: (IGNORING)</label></td>
				<td><button class="btn-primary" id="rpt24Btn" type="submit">CSV</button></td>
			</form>
			<form class="form-search">
				<td><button class="btn-primary" id="rpt2UI" type="submit">NULL</button></td>
			</form>
		</tr>
		
		<tr>
			<form class="form-search" method="GET" th:action="@{/rest/query/task_list_csv}">
				<td><label>12. Task List Status: (IGNORING)</label></td>
				<td><button class="btn-primary" id="rpt12Btn" type="submit">CSV</button></td>
			</form>
			<form class="form-search">
				<td><button class="btn-primary" id="rpt2UI" type="submit">NULL</button></td>
			</form>
			
			<form class="form-search" method="GET" th:action="@{/rest/query/transcoder_load_csv}">
				<td><label>26. Transcoder Load: (IGNORING)</label></td>
				<td><button class="btn-primary" id="rpt26Btn" type="submit">CSV</button></td>
			</form>
			<form class="form-search">
				<td><button class="btn-primary" id="rpt2UI" type="submit">NULL</button></td>
			</form>
		</tr>
 	</tbody>
 	</table> -->
 	
 	<a href="http://www.google.com" target="_blank">Window</a>
 	
	</div>	
</body>

</html>
