<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd"> 
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
<title>Purge Content</title>
<link th:substituteby="includes :: htmlhead" />
</head>

<body>
<span th:substituteby="includes :: navbar" />
	<h1>Purge Content Report</h1>

	<h4>List of Titles</h4>
	<table id="purgedTable" class="table table-striped tablesorter">
		<thead>
			<tr>
				<th>DateRange</th>
				<th>EntityType</th>
				<th>Title</th>
				<th>MaterialID</th>
				<th>Channels</th>
				<th>Protected</th>
				<th>Extended</th>
				<th>Purged</th>
				<th>Expires</th>
				</tr>
		</thead>
		<tbody>
			<tr th:each="purge: ${purged}">
					<td th:text="${purge.dateRange}"></td>
					<td th:text="${purge.entityType}"></td>
					<td th:text="${purge.title}"></td>
					<td th:text="${purge.materialID}"></td>
					<td th:text="${purge.channels}"></td>
					<td th:text="${purge.protected}"></td>
					<td th:text="${purge.extended}"></td>
					<td th:text="${purge.purged}"></td>
					<td th:text="${purge.expires}"></td>
				</tr>
		</tbody>
	</table>
</body>
</html>