<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd"> 
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
<title>Acquisition Delivery</title>
<link th:substituteby="includes :: htmlhead" />
</head>

<body>
	<span th:substituteby="includes :: navbar" />
	<h1>Acquisition Delivery Report</h1>

	<table id="acquistion" class="table table-striped tablesorter">
		<thead>
			<tr>
				<th>DateRange</th>
				<th>Title</th>
				<th>TimeDelivered</th>
				<th>TimeProcessed</th>
				<th>AggregatorID</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="file: ${files}">
				<td th:text="${file.dateRange}"></td>
				<td th:text="${file.filename}"></td>
				<td th:text="${file.discovered}"></td>
				<td th:text="${file.processed}"></td>
				<td th:text="${file.aggregetor}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>