<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<description>Foxtel Transcode Adapter</description>
	<display-name>fx-TcAdapter</display-name>

	<!-- REST services -->
	<listener>
		<listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
	</listener>
	<filter>
        <filter-name>resteasy</filter-name>
        <filter-class>com.mediasmiths.std.guice.web.rest.resteasy.ResteasyDispatcher</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>resteasy</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
	<!-- Generic Config -->
	
	<session-config>
		<!-- Default to 5 minute session timeouts -->
		<session-timeout>5</session-timeout>
	</session-config>

	<mime-mapping>
		<extension>wsdl</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>xsd</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping>


</web-app>
