<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
<title>AutoQCFailed</title>
</head>
<body>
	<div class="container">
		<label> Item is on the Auto QC Fail worklist. Asset: </label> <span th:text="${AssetID}" />
		<p>Please resolve this matter within 90-days otherwise item will be purged without further notification.</p>
	</div>
</body>
</html>