<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
<title>ChannelConditionsFoundInRuzzXml</title>
</head>
<body th:with="page='manualResult'">
	<div class="container">
		<p>
			Channel conditions were present in this material's ruzz companion xml, it has been marked as requiring auto qc once ingest completes.
		</p>
	</div>
</body>
</html>