<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
<title>PreviewFixReorder</title>
</head>
<body th:with="page='manualResult'">
	<div class="container">
		<p>
			This item has been marked as fix and reorder.<p/> Please resolve this matter.
			Dear Promo Producer,please check with your Programmer whether the status of this item will affect your promo production work.		
		</p>
	</div>
</body>
</html>