<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd"> 
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
	<link th:substituteby="includes :: htmlhead" />
	<title>QC</title>
</head>
	<span th:substituteby="includes :: navbar" />

	<div class="container">
       		<h1>QC Component<a th:href="@{qc.html}"><i class="icon-refresh"/></a></h1>
       		<p>All the data currently in the http://www.foxtel.com.au/ip/qc namespace</p>
       		
       		<table id="qcTable" class="table table-striped tablesorter">
       			<thead>
       				<tr>
       					<th>Job Name</th>
       					<th>Asset ID</th>
       					<th>For TX Delivery</th>
       				</tr>
       			</thead>
       			<tbody>
       				<tr th:each="qc: ${qcs}">
       					<td th:text="${qc.jobName}">jobName</td>
       					<td th:text="${qc.assetId}">assetId</td>
       					<td th:text="${qc.forTXDelivery}">forTxDelivery</td>
       				</tr>
       			</tbody>
       		</table>
       </div>	
<body>

</body>
</html>